.text-field {
	position: relative;
}


input {
	border: none;
	border-bottom: 2px solid;
	font-size: 1rem;
	outline: none;
}

input:focus-visible {
	border-color: royalblue;
}

label {
	position: absolute;
	left: 0;
	transition: 0.2s;
	color: slategrey;
}

input:focus + label,
input:not(:placeholder-shown) + label {
	transform: translateY(-1.5rem);
	font-size: 0.8rem;
	color: darkslategrey;
}

input::placeholder {
	opacity: 0;
}